<div class="row">
  <div class="col-md-6">
    <form class="form create-form">
      <div class="form-group">
        <label for="name">Category Name:</label>
        <input class="form-input" type="text" id="cate-name" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/createcategory.js"></script>
