<div class="row">
  <div class="col-md-12"> 
    <h3 class="col-12 text-center" >Add Category</h3>
    <form class="form create-form">
      <div class="form-group">
        <label class = "label-bold" for="name">Category Name:</label>
        <input class="form-input" type="text" id="cate-name" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/createcategory.js"></script>
